body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    background-color: rgba(246, 239, 233);
    text-align: center;
}

.fondo_div{
    width: 80%; 
    height: 100%; 
    background-color: #fff; 
    left: 10%; 
    position: absolute; 
    z-index: 0;
}

.navegador{
    background-color: rgba(246, 239, 233);
    text-align: center;
}

.btn-warning.azul_logo{
    background-color: rgba(25, 131, 147);
    border: 0;
    color: rgba(236, 238, 237);
}

.btn-warning.azul_logo:hover{
    background-color: rgba(248, 138, 23);
}

.borde_inferior {
    background-color: rgba(25, 131, 147) !important;
    color: black;
    text-align: center; 
    padding: 1rem; 
    margin-top: 2rem; 
}

.whatsapp-icon {
    width: 60px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción */
    border-radius: 50%; /* Si tu imagen no es redonda, esto la forzará a serlo */
    transition: transform 0.2s; /* Pequeña animación al pasar el ratón */
}

.whatsapp-icon:hover {
    transform: scale(1.1); /* Hace la imagen un poco más grande al pasar el ratón */
}

.email-icon {
    width: 60px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción */
    transition: transform 0.2s; /* Pequeña animación al pasar el ratón */
}

.email-icon:hover {
    transform: scale(1.1); /* Hace la imagen un poco más grande al pasar el ratón */
}